html {
    height: 100%;
    width: 100%;
}

body {
    background-color: #09181F;
}

/*Header stuff (Includes the hello, intro text, image, and buttons*/
header {
    margin: 50px;
}

/*Ok all of this I'm using px until I can figure out how to make text size responsive because I just wanna lay out the pages rn*/
h1 {
    font-size: 120px;
    color: #E1E6E5;
    font-family: 'Courier New';
}

h5 {
    font-size: 40px;
    color: #E1E6E5;
    font-family: 'Lato';
    /*Idk if this is applying*/
    font-style: bold;
}

/*...I can't center align these fuck- fix it later*/
.header-links {
    background-color: #556972;
    color: #E1E6E5;
    font-size: 15px;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    margin: 20px;
    border-radius: 10px;
    align-items: center;
}

.header-links:hover {
    background-color: #750808;
    color: #E1E6E5;
}

.header-img {
    display: block;
    max-width: 250px;
    padding-top: 30px;
    /*How do I fucking center align this :)*/
    margin-left: auto;
    margin-right: auto;
}

/*Background image idea- just to make it somewhat animated / interesting this'd only be on the top part
https://alvarotrigo.com/blog/animated-backgrounds-css/ */

/*Navbar*/
/*I have no fucking idea where the hover effect is coming from*/
.navbar .navbar-nav .nav-link {
    font-size: 25px;
    padding-left: 40px;
    padding-right: 40px;
    font-family: 'Courier New';
    color: #E1E6E5;
    white-space: nowrap;
    overflow: hidden;
}

.navbar {
    background-color: #556972;
}

/*This should apply to all except the first- I'll just make it so it doesn't have class active ok got it*/
.navbar-light .navbar-nav .active>.nav-link,
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .show>.nav-link {
    color: #E1E6E5;
    background-color: #09181f;
}

.nav-image {
    max-height: 80px;
    max-width: 80px;
}

/*Credit: JulioCodes https://github.com/juliocodes-sm/Reels/tree/main/Buttons/02*/

.nav-link {
    position: relative;
    display: inline-block;
    text-decoration: none;
    color: #E1E6E5;
    overflow: hidden;
    transition: color 1s;
}

.nav-link:hover {
    color: #556972;
}

.nav-link::before {
    content: '';
    position: absolute;
    top: 0;
    left: -50px;
    z-index: -1;
    width: 150%;
    height: 100%;
    background-color: #E1E6E5;
    transform: scaleX(0) skewX(35deg);
    transform-origin: left;
    transition: transform 1s;
}

.nav-link:hover::before {
    transform: scaleX(1) skewX(35deg);
}

/*Trying out an active class animation, I want this to be on hover but I'll do it later*/
/*Credit if it works: https: //codepen.io/digital_playground/pen/RwaVXOL*/
/*Ok wait this is an entire new- something- I need to make a file just for this glow effect- ok*/

:root {
    --btn-border: 1px solid rgba(255, 255, 255, 0.2);
    --btn-bg: transparent;
    --btn-shadow: 1px 1px 25px 10px rgba(255, 255, 255, 0.5);
    --btn-text-color: #f4f4f4;
    --shine-degree: 120deg;
    --shine-color: rgba(255, 255, 255, 0.2);
    --shine-effect: linear-gradient(var(--shine-degree), transparent, var(--shine-color), transparent);
    --shine-transition: all 0.65s ease-in-out;
}
.nav-link.active {
    position: relative;
    overflow: hidden;
    font-size: 1.1rem;
    padding: 1rem 3rem;
    border-radius: 4px;
    text-decoration: none;
    border: var(--btn-border);
    color: var(--btn-text-color);
    background: var(--btn-bg);
}
.nav-link.active:not(:last-child) {
    margin-bottom: 3rem;
}
.nav-link.active::before {
    content: "";
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: var(--shine-effect);
}
.active-hover::before {
    left: -100%;
    transition: var(--shine-transition);
}
.active-hover:hover {
    box-shadow: var(--btn-shadow);
}
.active-hover:hover::before {
    left: 100%;
}

.active-anim::after {
    animation: shine 5s ease-in-out infinite;
}

@keyframes shine {
    0% {
        left: -100%;
        transition-property: left;
   }
    11.5044247788%, 100% {
        left: 100%;
        transition-property: left;
   }
}

/*Homepage*/
.intro-paragraph {
    margin: 30px;
    color: #E1E6E5;
    padding: 20px;
    font-family: 'Lato';
    font-size: 20px;
}

h2 {
    color: #E1E6E5;
    text-align: center;
}

.img-carousel {
    max-height: 400px;
    max-width: 800px;
}

/*Work Experience*/

/*Work experience navbar*/
/*More trying to make the nav work-*/
#navbar {
    background-color: #09181F;
    overflow: hidden;
    transition: background-color 0.5s;
    height: auto;
    margin-top: 20px;
}

/*Ok so plan is write a function that adds this class as soon as you scroll so it FUCKING STAYS*/
/*...change it to a fucking id*/
#navbar-stay {
    position: relative;
}

/* Navbar links */
#navbar a {
    float: left;
    display: block;
    text-align: center;
    color: #E1E6E5;
    transition: color 0.5s;
    height: auto;
}

.work-exp-nav {
    background-color: #556972;
    margin: 20px;
    padding: 10px;
    text-align: center;

}

.bgimg {
    position: relative;
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-image: url("https://media.istockphoto.com/id/1313302904/vector/blue-bird-feather-icon-decorative-design-element-isolated-on-white-background.jpg?s=612x612&w=0&k=20&c=F_UWic3Y8QdxWFpT3VWxS07mkFLFnU6dUT7eSQhVoPg=");
        min-height: 400px;
}

.caption {
    position: absolute;
        left: 0;
        top: 50%;
        width: 100%;
        text-align: center;
        /*May change color- It'll be a darker picture with a blue feather because that looks cool
        so... filler color will be the dark blue*/
        color: #09181F;
        font-family: 'Courier New';
        font-size: 33px;
        
}

.whiteDesc {
    color: #E1E6E5;
    background-color: #556972;
    text-align: center;
    padding: 50px 80px;
   font-family: 'Lato';
   /*Deciding if I wanna keep this- if I do I need to add it to all pages*/
    font-variant: small-caps;
  }

  .break-line-2 {
    background-color: #09181F;
    margin-left: 0px;
    margin-right: 0px;
    min-height: 2px;
    z-index: 10000px;
}

.school-lists {
    justify-content: left;
    list-style: none;
}

.schools {
    color: black;
    text-align: left;
    margin-top: 15px;
    margin-bottom: 10px;
}

.school-title {
    font-size: 20px;
}

/*Testing stuff for animated progressbars*/
/*Credit: https://www.youtube.com/watch?v=8ULg-7SvP2o*/
.progress-bar {
    background: #959595;
    width: 300px;
    height: 10px;
    border-radius: 5px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.progress-bar div {
    height: 10px;
    border-radius: 5px;
    width: 0%;
}

.progress-bar div span {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background: #09181F;
    float: right;
    margin-top: -15px;
    margin-right: -20px;
    color: #E1E6E5;
    display: flex;
    align-items: center;
    justify-content: center;
}

.html {
    background: #E1E6E5;
    animation: html 1s linear forwards;
}

.html span {
    border: 1px solid #E1E6E5;
}

.current {
    background: #E1E6E5;
    animation: current 1s linear forwards;
}

.current span {
    border: 1px solid #E1E6E5;
}

@keyframes html {
    100% {
        /*Might leave it on 99 because I think it runs twice if it's 100? Which- idk why*/
        width: 99%;
    }
}

@keyframes current {
    100% {
        /*Might leave it on 99 because I think it runs twice if it's 100? Which- idk why*/
        width: 75%;
    }
}

/*Fix alignment on all the images I'd like them to overlap*/
.education-img {
    max-height: 150px;
    align-self: left;
}

/*Maybe the float thing will make it overlap? Combining this with fade in on scroll so- fun
https: //bricampgomez.com/blog/how-to-overlap-images-in-css/ */

/*Contact*/

/*Form on contact, credit: https://uiverse.io/Phelix652/selfish-pug-28*/
.form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-left: 2em;
    padding-right: 2em;
    padding-bottom: 0.4em;
    background-color: #171717;
    border-radius: 20px;
}

#heading {
    text-align: center;
    margin: 1em;
    color: #E1E6E5;
    font-size: 2.5em;
    font-family: 'Courier New';
}

.field {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5em;
    border-radius: 25px;
    padding: 0.6em;
    border: none;
    outline: none;
    color: white;
    background-color: #171717;
    box-shadow: inset 2px 5px 10px rgb(5, 5, 5);
}

.input-icon {
    height: 1.3em;
    width: 1.3em;
    fill: #556972;
}

.input-field {
    background: none;
    border: none;
    outline: none;
    width: 100%;
    color: #556972;
}

.form .btn {
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-top: 2.5em;
}

.button1 {
    padding: 0.5em;
    padding-left: 1.1em;
    padding-right: 1.1em;
    border-radius: 5px;
    margin-right: 0.5em;
    border: none;
    outline: none;
    transition: .4s ease-in-out;
    background-image: linear-gradient(163deg, #E1E6E5 0%, #556972 100%);
    color: #09181F;
}

.button1:hover {
    background-image: linear-gradient(163deg, #757575 0%, #2e3c42 100%);
    color: #E1E6E5;
}

.card {
    background-image: linear-gradient(163deg, #E1E6E5 0%, #556972 100%);
    border-radius: 22px;
    transition: all .3s;
    margin-top: 20px;
    margin-bottom: 20px;
}

.card2 {
    border-radius: 0;
    transition: all .2s;
}

.card2:hover {
    transform: scale(0.98);
    border-radius: 20px;
}

.card:hover {
    box-shadow: 0px 0px 30px 1px rgba(0, 255, 117, 0.30);
}

.overlay {
    background-color: black;
    opacity: 90%;
    max-width: 500px;
    overflow: hidden;
    position: relative;
    /*OK THIS SPECIFICALLY THIS USE THIS FOR CENTERING EVERYTHING IT WORKS*/
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  /*I'm gonna swap the background to be a phoenix (which I need to draw but leave that for later) for now gonna do a filler background*/
.background {
    background: url("https://i.pinimg.com/736x/17/66/a2/1766a262565c6dc53f39ed9e96ee55c7--art-addiction-phoenix.jpg") no-repeat fixed 0 0 / cover;
}

/*Ok this might have done nothing- I might have to change the margin on the reach out text*/
#contact-line {
    margin-top: 0px;
}

.contact-note {
    color: #E1E6E5;
}

/*Ok why- why isn't this working
The problem is it's showing the actual contact thing- like it's partially transparent. Want it to be solid color*/
.contact-card {
    opacity: 100%;
    background-color: #09181f;
}

.broken-field {
    display: none;
}

/*Footer*/
footer {
    background-color: #556972;
    color: #E1E6E5;
    font-size: 20px;
    margin-top: 10px;
}




/*Hopefully stuff for every page*/
.break-line {
    background-color: #556972;
    margin-left: 0px;
    margin-right: 0px;
    min-height: 2px;
    z-index: 10000px;
}